MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

SEQ_FIRSTRUN_ADMINPASSWORD=admin

MONGO_CONNECTIONSTRING=mongodb://admin:admin@mongo:27017
MONGO_DATABASENAME=comanda_subscriptions

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

STRIPE_SECRET=sk_test_99aJL917Q47FQWxj7Cx82Lm-OrKMM7A5KpQHbdFi